.bowling {
    background:
        -moz-radial-gradient(#FFB87A 15%, transparent 16%),
        -moz-radial-gradient(#FFB87A 15%, transparent 16%),
        #FFDDAE;
    background:
        -webkit-radial-gradient(#FFB87A 15%, transparent 16%),
        -webkit-radial-gradient(#FFB87A 15%, transparent 16%),
        #FFDDAE;
    background-position: 0 0, 10px 10px;

    -webkit-background-size:20px 20px;
    -moz-background-size:20px 20px;
    background-size:20px 20px;
}
#inviteFrame-bowling{
    background-color: red;
    border-color: #FCB100;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    margin-top: 10px;
}

.accept{
  background-color: #8BC755;
}
.reject{
  background-color: #F68D60;
}

.header{
  text-align: center;
  font-weight: bold;
}
