.johnscott {
  background-color: #292e5c;
  color: #f7f0de;
}
.inline-edit-johnscott{
  color: #930302;
  border-color: #930302;
  background-color: #f7f0de;
  font-family: "Droid Serif";
  width: 95%;
}
#themeImage-johnscott{
  display: block;
  margin: auto;
  width: 90%;
  max-width: 300px;
}
#themeLogo-johnscott{
  display: block;
  padding-top: 10px;
  margin: auto;
  width: 90%;
  max-width: 300px;
}
.inviteFrame-johnscott{
    background-color: #f7f0de;
    color: #930302;
    border-color: #930302;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.font-johnscott{

}

.accept-johnscott{
  background-color: #8BC755;
  color: #f7f0de;
}
.reject-johnscott{
  background-color: #c61f38;
  color: #f7f0de;
}

.header-johnscott{
  text-align: center;
  font-weight: bold;
}
