.polka {
    background:
        -moz-radial-gradient(#FFB87A 15%, transparent 16%),
        -moz-radial-gradient(#FFB87A 15%, transparent 16%),
        #FFDDAE;
    background:
        -webkit-radial-gradient(#FFB87A 15%, transparent 16%),
        -webkit-radial-gradient(#FFB87A 15%, transparent 16%),
        #FFDDAE;
    background-position: 0 0, 10px 10px;

    -webkit-background-size:20px 20px;
    -moz-background-size:20px 20px;
    background-size:20px 20px;
}
.inline-edit-polka{
  color: #744B27;
  border-color: #FCB100;
  background-color: #ffe7c9;
  font-family: "Droid Serif";
  width: 95%;
}
#themeImage-polka{
  display: block;
  margin: auto;
  width: 110%;
  max-width: 500px;
}
#inviteFrame-polka{
    background-color: #ffe7c9;
    color: #744B27;
    border-color: #FCB100;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Acme";
}

.accept-polka{
  background-color: #8BC755;
}
.reject-polka{
  background-color: #F68D60;
}

.header-polka{
  text-align: center;
  font-weight: bold;
}
