.bowling {
  background-color: #292e5c;
  color: #f7f0de;
}
.inline-edit-bowling{
  color: #930302;
  border-color: #930302;
  background-color: #f7f0de;
  font-family: "Droid Serif";
  width: 95%;
}
#themeImage-bowling{
  display: block;
  margin: auto;
  width: 90%;
  max-width: 300px;
}
.inviteFrame-bowling{
    background-color: #f7f0de;
    color: #930302;
    border-color: #930302;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.content-bowling{
  max-width: 414px;
}
.font-bowling{

}

.accept-bowling{
  background-color: #8BC755;
  color: #f7f0de;
}
.reject-bowling{
  background-color: #c61f38;
  color: #f7f0de;
}

.header-bowling{
  text-align: center;
  font-weight: bold;
}
