
.button {
  border-radius: 100px;
}



.section {
  padding: 4rem 0 0;
  text-align: center;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}


.first {
  padding: 3rem 0 0;
}
.logo{
  width: 100%;
  margin-bottom: 0;
}
.logo-heading {
  font-size: 2rem;
}

.description {
  opacity: .8;
  font-weight: 300;
}



/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 3rem 0 0;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .logo-heading {
    font-size: 3rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .logo-heading {
    padding-left: 5.5rem
  }
  .section {
    padding: 3rem 0 0rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .logo-heading {
    font-size: 5rem;
    padding-left: 5.5rem
  }
  .section {
    padding: 3rem 0 0rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
}
