.u-full-width.rw-datetimepicker.rw-widget {
    margin-bottom: 15px;
}
.rw-widget .rw-input {
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"]{
  -webkit-appearance: none;
}
td {
  padding: 12px 8px;
}
.rw-calendar-grid td{
  box-sizing: content-box;
  padding: 0px 0px;
}
