.inline-edit{
  padding: 5px;
  resize: none;
}
.modal {
  position: fixed;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%,-50%);
  outline: 0;
}

.modal-child {
  max-height: 90vh;
  min-width: 90vw;
}

.modal-child input[type="email"] {
  width: 80%;
}
.modal-child input[type="checkbox"] {
  margin-right: 5px;
}
.modal-child .month {
  display:inline-block;
  width: 25%;
}
