.cake {
  background-color: #f9f8f1;
}
.inline-edit-cake{
  color: black;
  border-color: #b3dcce;
  background-color: #c5e7d6;
  width: 40%;
}
.container-cake{
  position: relative;
}
.inviteFrame-cake{
    
    color: black;
    border-color: #a09257;
    background-color: #f0f9f2;
    border-width: 6px;
    border-style: solid;
    padding: 10px 10px 10px 5px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.img-cake{
  width: 100%;
}
.content-cake{
  color: black;
  text-align: center;
  margin-left: -20px;
  margin-right: -20px; 
}
.font-cake{
  font-family: "Indie Flower";
}

.accept-cake{
  background-color: #a6dac1;
}
.reject-cake{
  background-color: #f0a069;
}

.header-cake{
  height: 9%;
  padding: 2%;
  width: 43%;
  position: absolute;
  top: 39%;
  left: 25%;
  font-size: 1.6em;
  line-height: 95%;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.description-cake{
  height: 10%;
  padding: 3%;
  padding-top: 4%;
  width: 56%;
  position: absolute;
  top: 50%;
  left: 18%;
  line-height: 95%;
  text-align: justify;
  display: flex;
  align-items: center;
}
.description-cake span{
  width: 100%;
}
.last-cake{
  height: 14%;
  padding: 1%;
  width: 77%;
  position: absolute;
  top: 65%;
  left: 9%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.last-cake *{
  width: 100%;
  line-height: 1.1;
}
.child-cake{
  font-size: 2.0em;
  line-height: 95%;
  margin-bottom: 0;
}
